<div class="community-page-content d-flex mt-3 align-content-start justify-content-evenly row" id="community-page-template">
    <!--place for group-detailed template-->
    <form class="community-posts-filters-form border border-1 rounded p-0 w-75">
        <div class="header bg-light border-bottom p-2 ps-3">
            <span class=" fw-light line">Фильтры</span>
        </div>
        <div class="filters py-3 px-3">
            <div class="input-group m-0 mb-3 row gx-0">
                <div class="author-filter-column col-md-6 mb-3 mb-md-0 pe-0 pe-md-3">
                    <label for="author-filter" class="form-label mb-0">Поиск по имени автора</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="author-filter">
                    </div>
                </div>
                <div class="tag-filter-column col-md-6">
                    <label for="tag-filter" class="form-label mb-0">Поиск по тэгам</label>
                    <select class="input-group form-select" id="tag-filter" multiple size="3">
                        <option>firstExample</option>
                        <option>secondExample</option>
                        <option>thirdExample</option>
                        <option>firstExample</option>
                        <option>secondExample</option>
                        <option>thirdExample</option>
                    </select>
                </div>
            </div>
            <div class="input-group d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Применить</button>
            </div>
        </div>
    </form>
    <!--place for group posts templates-->
    <!--place for posts pagination template-->
</div>