<content class="login-page-content d-flex align-content-center justify-content-evenly row" id="login-page-template">
    <form class="login border border-1 rounded shadow p-3 w-50">
      <h3>Вход</h3>
      <label for="email-input" class="form-label">Email</label>
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="user@example.com" id="email-input">
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
      </div>
      <label for="password-input" class="form-label">Пароль</label>
      <div class="input-group mb-3">
          <input type="password" class="form-control" id="password-input">
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
      </div>
      <button type="button" class="btn btn-primary col-12 mb-3" id="login-button">Войти</button>
      <button type="button" class="btn btn-secondary col-12" id="register-button">Зарегистрироваться</button>
    </form>
  </content>