<content class="post-details-page-content d-flex mt-3 align-items-baseline justify-content-evenly row" id="post-details-page-template">
    <!--place for post template-->
    <div class="border border-1 rounded w-75 p-3 my-3" id="comment-section">
        <h4>Комментарии</h4>
        <!--place for comments templates-->
    </div>
    <div class="border border-1 rounded w-75 p-3 mb-3 authorized" id="leave-comment-section">
        <div class="input-group">
            <label for="new-comment-content" class="form-label mb-1">Оставьте комментарий</label>
            <div class="input-group">
                <textarea name="new-comment-content" id="new-comment-content" rows="5" class="border rounded border-1" style="resize: both; width: 100%; max-width: 100%;"></textarea>
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <button class="btn btn-primary float-end mt-3" type="button" id="create-new-comment"> Отправить</button>
    </div>
</content>