<content class="register-page-content mt-3 d-flex align-items-center justify-content-center" id="register-page-template">
    <form class="register border border-1 rounded shadow p-3 w-50 text-break">
      <h3>Регистрация</h3>
      <label for="full-name-input" class="form-label">ФИО</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Иванов Иван Иванович" id="full-name-input" autocomplete="off">
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
      </div>
      <label for="dob-input" class="form-label">Дата рождения</label>
      <div class="input-group mb-3">
        <input type="date" class="form-control text-muted" id="dob-input" autocomplete="off">
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
      </div>
      <label for="sex-input" class="form-label">Пол</label>
      <select id="sex-input" class="form-select mb-3 text-muted">
        <option class="selected">Мужчина</option>
        <option>Женщина</option>
      </select>
      <label for="tel-input" class="form-label">Телефон</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="tel-input" placeholder="+7 (923) 407-20-30" autocomplete="off">
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
      </div>
      <label for="email-input" class="form-label">Email</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="email-input" placeholder="name@example.com" autocomplete="off">
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
        <small class="w-100 text-muted">Email будет использован при входе</small>
      </div>
      <label for="password-input" class="form-label">Password</label>
      <div class="input-group mb-3">
        <input type="password" class="form-control" id="password-input" autocomplete="off">
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
      </div>
      <button type="button" class="btn btn-primary col-12 mb-3" id="register-button">Зарегистрироваться</button>
    </form>
  </content>