<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <link rel="stylesheet" href="/styles/common.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand ms-3" href="#">Блог №415</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-3 ms-lg-0 me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Главная</a>
              </li>
              <li class="nav-item profile-nav-item">
                <a class="nav-link" href="#">Написать пост</a>
              </li>
              <li class="nav-item main-nav-item">
                <a class="nav-link" href="#">Авторы</a>
              </li>
              <li class="nav-item main-nav-item">
                <a class="nav-link" href="#">Группы</a>
              </li>
            </ul>
            <span class="nav-item mb-2 mb-lg-0">
                <a class="nav-link" href="#">Вход</a>
            </span>
            <li class="nav-item dropdown authorized-nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  user@example.email
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Профиль</a></li>
                  <li><a class="dropdown-item" href="#">Выйти</a></li>
                </ul>
              </li>
          </div>
        </div>
    </nav>
    <content>
        <div class="post-details-page-content d-flex mt-3 align-content-center justify-content-evenly row">
            <div class="card post-template mt-2 border border-1 rounded p-0 w-75">
                <div class="post-header p-3 pb-0 border-end-0">
                    <div class="post-info text-muted pb-2">
                        <span class="author-name">Author</span>
                        - 
                        <span class="post.date">11.11.1111 11:11</span>
                        в сообществе
                        <span class="group-name">"Group"</span>
                    </div>
                    <h4 class="post-name">Имя поста</h4>
                    <hr class="bg-dark mb-0" style="height: 1.5px;">
                </div>
                <content class="post-content p-3 pb-0">
                    <div class="post-image-wrapper d-flex justify-content-center">
                        <img alt="Картинка поста не загрузилась" class="post-image pb-3" src="https://images.unsplash.com/photo-1526666923127-b2970f64b422?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dmVyeSUyMGxhcmdlfGVufDB8fDB8fHww">
                    </div>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quia, odio at perspiciatis aliquam aspernatur accusamus non ipsam accusantium praesentium ea voluptas, tempora autem officiis unde. Accusamus sunt vitae cumque.
                    </span>
                    <a href="#" class="link-to-post text-decoration-none d-none">Читать полностью</a>
                </content>
                <div class="post-end p-3">
                    <div class="tags-section text-muted">
                        <span class="tag-template">#<span class="tag-name">18+</span></span>
                        <span class="tag-template">#<span class="tag-name">База</span></span>
                    </div>
                    <div class="reading-time">
                        Время чтения:
                        <span class="reading-time">3 мин.</span>
                    </div>
                    <div class="geo-tag pt-2">
                        <img src="/source/images/geo-fill-icon.svg" alt="VK" class="icon">
                        <span class="geo-tag-content">ул. Пушкина, д. Колотушкина</span>
                    </div>
                </div>
                <div class="card-footer px-3 py-2"> 
                    <a class="mb-0 text-black-50 text-decoration-none" href="#">
                        X <img src="/source/images/comment-icon.svg" alt="comm" class="icon">
                    </a>
                    <button class="mb-0 text-black-50 text-decoration-none float-end border-0 bg-light">
                        X <img src="/source/images/hollow-heart-icon.svg" alt="likes" class="icon">
                    </button>
                </div>
            </div>
            <div class="comment-section border border-1 rounded w-75 p-3 my-3">
                <h4>Комментарии</h4>
                <div class="comment-template text-break">
                    <span class="comment-user-name text-muted">Xexi</span>
                    <div class="comment-user-actions d-inline-block">
                        <a class="mb-0 text-decoration-none" href="#">
                            <img src="/source/images/pencil-fill.svg" alt="VK" class="icon">
                        </a>
                        <a class="mb-0 text=text-decoration-none" href="#">
                            <img src="/source/images/trash-fill.svg" alt="VK" class="icon">
                        </a>
                    </div>
                    <div class="comment-content-wrapper">
                        <span class="comment-content py-2">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</span>
                        <span class="comment-edited-flag text-muted ps-2" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="?????">(изменено)</span>
                        <div class="comment-edit-content py-2 mx-0 row d-flex justify-content-between">
                            <input type="text" class="comment-edit-content-input col-12 col-lg-8 mb-2 mb-lg-0">
                            <button class="btn btn-warning col-lg-3">Редактировать</button>
                        </div>
                    </div>
                    <span class="comment-create-date text-muted pb-2">11.11.1111 11:11</span>
                    <a href="#" class="make-response text-decoration-none d-inline">Ответить</a>
                    <div class="comment-create-response py-2 mx-0 row d-flex justify-content-between">
                        <input type="text" class="comment-create-response-input col-12 col-lg-8 mb-2 mb-lg-0">
                        <button class="btn btn-primary col-lg-2">Сохранить</button>
                    </div>
                    <div class="responses">
                        <a href="#" class="show-responses text-decoration-none d-block">Раскрыть ответы</a>
                        <div class="response-template text-break ps-3 border-start border-4 border-primary">
                            <div class="comment-template text-break">
                                <span class="comment-user-name text-muted">Xexi</span>
                                <div class="comment-user-actions d-inline-block">
                                    <a class="mb-0 text-decoration-none" href="#">
                                        <img src="/source/images/pencil-fill.svg" alt="VK" class="icon">
                                    </a>
                                    <a class="mb-0 text=text-decoration-none" href="#">
                                        <img src="/source/images/trash-fill.svg" alt="VK" class="icon">
                                    </a>
                                </div>
                                <div class="comment-content-wrapper">
                                    <span class="comment-content py-2">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</span>
                                    <span class="comment-edited-flag text-muted ps-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="?????">(изменено)</span>
                                    <div class="comment-edit-content py-2 mx-0 row d-flex justify-content-between">
                                        <input type="text" class="comment-edit-content-input col-12 col-lg-8 mb-2 mb-lg-0">
                                        <button class="btn btn-warning col-lg-3">Редактировать</button>
                                    </div>
                                </div>
                                <span class="comment-create-date text-muted pb-2">11.11.1111 11:11</span>
                                <a href="#" class="make-response text-decoration-none d-inline">Ответить</a>
                                <div class="comment-create-response py-2 mx-0 row d-flex justify-content-between">
                                    <input type="text" class="comment-create-response-input col-12 col-lg-8 mb-2 mb-lg-0">
                                    <button class="btn btn-primary col-lg-2">Сохранить</button>
                                </div>
                                <div class="responses">
                                    <a href="#" class="show-responses text-decoration-none d-block">Раскрыть ответы</a>
                                    <div class="response-template text-break ps-3 border-start border-4 border-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leave-comment-section border border-1 rounded w-75 p-3 mb-3">
                <div class="input-group">
                    <label for="new-comment-content" class="form-label mb-1">Оставьте комментарий</label>
                    <div class="input-group">
                        <textarea name="new-comment-content" id="new-comment-content" rows="5" class="border rounded border-1" style="resize: both; width: 100%; max-width: 100%;"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary float-end mt-3" type="submit"> Отправить</button>
            </div>
        </div>
    </content>
    <footer class="d-flex flex-wrap py-3 bg-light">
        <div class="footer-content w-75">
            <p class="mb-0 me-2 text-muted footer-text">© 2023 Ushakov, Frontend</p>
            <a class="mb-0" href="https://vk.com/2slw4u">
                <img src="/source/images/vk_logo.svg" alt="VK" class="icon">
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/postDetails.js"></script>
</body>
</html>
