html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar > .container-fluid > .navbar-collapse > li.dropdown {
    list-style-type: none;
}

.navbar > .container-fluid * > .authorized-nav-item, .profile-nav-item, .main-nav-item {
    display: none;
}

body > content {
    flex: 1 0 auto;
}

body > footer {
    flex-shrink: 0;
    display: flex;
}

body > footer > .footer-content {
    margin: 1 auto;
    width: 60%;
}

body > footer > .footer-content > .footer-text {
    display: inline;
}

body * .icon {
    width: 1.5em;
    height: auto;
    display: inline;
}

/*----------------------------------------------------------------------------------*/

body > content > .login {
    width: 40%;
    min-width: fit-content;
}