html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar > .container-fluid > .navbar-collapse > li.dropdown {
    list-style-type: none;
}

.navbar > .container-fluid * > .authorized-nav-item, .navbar > .container-fluid * > .profile-nav-item, .navbar > .container-fluid * > .main-nav-item {
    display: none;
}

body > content {
    flex: 1 0 auto;
}

body > footer {
    flex-shrink: 0;
    display: flex;
}

body > footer > .footer-content > .footer-text {
    display: inline;
}

body * .icon {
    width: 1.5em;
    height: auto;
    display: inline;
}

/*----------------------------------------------------------------------------------*/


body > footer > .footer-content {
    margin: 1 auto;
    width: 70%;
}

body > content > .filters-form, body > content > .makePost {
    width: 70%;
    min-width: 70%;
}

body > content > .filters {
}
