html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

body > .navbar > .container-fluid > .navbar-collapse > li.dropdown {
    list-style-type: none;
}

.authorized-nav-item, .profile-nav-item, .main-nav-item, .authorized {
    display: none;
}

body > content {
    flex: 1 0 auto;
    font-size: medium;
}

body > footer {
    width: 100%;
    flex-shrink: 0;
    display: flex;
}

body > footer > .footer-content > .footer-text {
    display: inline;
}

body * .icon {
    width: 1.5em;
    height: auto;
    display: inline;
}

/*----------------------------------------------------------------------------------*/

body > footer > .footer-content {
    margin: 1 auto;
    width: 75%;
}

body > content > .filters-form, body > content > .makePost, body > content > .post-template, body > content > .post-pagination-template {
    width: 75%;
}

body > content > .post-template > .post-content > .post-image-wrapper > .post-image {
    max-width: 50%;
    max-height: auto;
}