<div class="address-template" id="address-template">
    <h3>Адрес</h3>
    <div class="input-group m-0 mb-3 row gx-0">
        <div class="col">
            <label for="address-first-level" class="form-label mb-0">Поиск по тэгам</label>
            <select class="input-group form-select" id="address-first-level">
                <option>firstExample</option>
                <option>secondExample</option>
                <option>thirdExample</option>
                <option>firstExample</option>
                <option>secondExample</option>
                <option>thirdExample</option>
            </select>
        </div>
    </div>
</div>