
<div class="author-template authors-container mb-3 w-75" id="author-template">
    <div class="author-info p-4 clearfix">
        <div class="author-images float-start me-3 mb-2 position-relative d-inline-block">
            <img src="/source/images/male-avatar-icon.svg" alt="Male-admin: " class="icon big-icon author-icon ">
            <img src="/source/images/crown-solid-icon-bronze.svg" alt="Third-best" class="icon medium-icon position-absolute" style="right: 25px; top: -20px;">
        </div>
        <div class="main-author-info d-block d-lg-flex align-items-center justify-content-between">
            <div class="author-account-info ">
                <span class="admin-nickname d-inline-block fs-3 fw-bold text-break">AgentLost</span>
                <span class="author-acc-create-date d-inline-block fs-4 text-muted fst-italic">Создан: 21.12.2022</span>
            </div>
            <div class="author-stats d-lg-inline" style="color: white;">
                <span class="author-posts-amount d-inline-block border border-1 rounded-3 border-primary bg-primary px-3 py-1 me-3 mb-1">Постов: 6</span>
                <span class="author-likes-amount d-inline-block border border-1 rounded-3 border-primary bg-primary px-3 py-1">Лайков: 50</span>
            </div>
        </div>
        <div class="complimentary-author-info d-block fs-5 pt-1">
            <span class="fw-bold text-muted">Дата рождения: </span>
            <span class="author-DOB">11.11.1111</span>
        </div>
    </div>
    <hr>
</div>