<div class="group-detailed-template border rounded border-1 p-3 mb-3 w-75" id="group-detailed-template">
    <div class="header-section d-block d-md-flex align-items-center justify-content-between">
        <h1 class="group-name">
            Group "Group"
        </h1>
        <div class="buttons-section pt-3 pt-md-0">
            <button class="btn create-post-button btn-primary btn-sm">Написать пост</button>
            <button class="btn unsubscribe-group-button btn-danger btn-sm">Отписаться</button>
        </div>
    </div>
    <div class="group-details d-block text-muted py-3">
        <img src="/source/images/people-fill-icon.svg" alt="Кол-во подписчиков: " class="icon">
        <span>X подписчиков</span>
        <span class="group-type d-block pt-3">Тип сообщества: закрытое</span>
    </div>
    <div class="group-admins d-block mb-3">
        <h3 class="fw-bolder">Администраторы</h3>
        <div class="group-admin-template clearfix">
            <img src="/source/images/male-avatar-icon.svg" alt="Male-admin: " class="icon big-icon float-start">
            <span class="admin-nickname fs-5 fw-bold text-break ps-3">AgentLost</span>
        </div>
        <hr>
        <div class="group-admin-template clearfix">
            <img src="/source/images/female-avatar-icon.svg" alt="Female-admin: " class="icon big-icon float-start">
            <span class="admin-nickname fs-5 fw-bold text-break ps-3">ЧеширКо</span>
        </div>
    </div>
</div>