<div class="group-detailed-template border rounded border-1 p-3 mb-3 w-75" id="group-detailed-template">
    <div class="header-section d-block d-md-flex align-items-center justify-content-between">
        <h1 id="group-name">
            Group "Group"
        </h1>
        <div class="buttons-section pt-3 pt-md-0">
            <button class="btn create-post-button btn-primary btn-sm d-none" id="action-create-post">Написать пост</button>
            <button class="btn subscribe-group-button btn-primary btn-sm d-none" id="action-subscribe">Подписаться</button>
            <button class="btn unsubscribe-group-button btn-danger btn-sm d-none" id="action-unsubscribe">Отписаться</button>
        </div>
    </div>
    <div class="group-details d-block text-muted py-3">
        <img src="/source/images/people-fill-icon.svg" alt="Кол-во подписчиков: " class="icon">
        <span id="followers-amount">X подписчиков</span>
        <span class="group-type d-block pt-3">Тип сообщества: <span id="community-type">закрытое</span></span>
    </div>
    <div class="group-admins d-block mb-3">
        <h3 class="fw-bolder">Администраторы</h3>
    </div>
</div>