<div class="card post-template mt-2 border border-1 rounded p-0 w-75" id="post-template">
    <div class="post-header p-3 pb-0 border-end-0">
        <div class="post-info text-muted pb-2">
            <span class="author-name">Author</span>
            - 
            <span class="post.date">11.11.1111 11:11</span>
            в сообществе
            <span class="group-name">"Group"</span>
        </div>
        <h4 class="post-name">Имя поста</h4>
        <hr class="bg-dark mb-0" style="height: 1.5px;">
    </div>
    <content class="post-content p-3 pb-0">
        <div class="post-image-wrapper d-flex justify-content-center">
            <img alt="Картинка поста не загрузилась" class="post-image pb-3" src="https://images.unsplash.com/photo-1526666923127-b2970f64b422?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dmVyeSUyMGxhcmdlfGVufDB8fDB8fHww">
        </div>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quia, odio at perspiciatis aliquam aspernatur accusamus non ipsam accusantium praesentium ea voluptas, tempora autem officiis unde. Accusamus sunt vitae cumque.
        </span>
        <a href="#" class="link-to-post text-decoration-none d-none">Читать полностью</a>
    </content>
    <div class="post-end p-3">
        <div class="tags-section text-muted">
            <span class="tag-template">#<span class="tag-name">18+</span></span>
            <span class="tag-template">#<span class="tag-name">База</span></span>
        </div>
        <div class="reading-time">
            Время чтения:
            <span class="reading-time">3 мин.</span>
        </div>
        <div class="geo-tag pt-2">
            <img src="/source/images/geo-fill-icon.svg" alt="VK" class="icon">
            <span class="geo-tag-content">ул. Пушкина, д. Колотушкина</span>
        </div>
    </div>
    <div class="card-footer px-3 py-2"> 
        <a class="mb-0 text-black-50 text-decoration-none" href="#">
            X <img src="/source/images/comment-icon.svg" alt="comm" class="icon">
        </a>
        <button class="mb-0 text-black-50 text-decoration-none float-end border-0 bg-light">
            X <img src="/source/images/hollow-heart-icon.svg" alt="likes" class="icon">
        </button>
    </div>
</div>