<div class="post-pagination-template px-0 my-3 row align-items-center justify-content-between w-75" id="post-pagination-template">
    <div class="post-pagination-nav-template col-3 px-0 pt-4">
        <nav class="post-pagination-nav">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&lt;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&gt;</span>
                </a>
              </li>
            </ul>
        </nav>    
    </div>
    <div class="post-per-page-count-template col-3 px-0">
        <label for="post-per-page-select" class="form-label mb-0">Число постов на странице</label>
        <select class="input-group">                            
            <option>...</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>...</option>
        </select>
    </div>
</div>