<div class="card post-template mt-2 border border-1 rounded p-0 w-75" id="post-template">
    <div class="post-header p-3 pb-0 border-end-0">
        <div class="post-info text-muted pb-2">
            <span class="post-author-name"></span>
            - 
            <span class="post-date">11.11.1111 11:11</span>
            <span class="post-group-location"></span>
        </div>
        <h4 class="post-name"></h4>
        <hr class="bg-dark mb-0" style="height: 1.5px;">
    </div>
    <content class="post-content-section p-3 pb-0">
        <div class="post-image-wrapper d-flex justify-content-center">
            <img alt="Картинка поста не загрузилась" class="pb-3 post-image">
        </div>
        <span class="post-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quia, odio at perspiciatis aliquam aspernatur accusamus non ipsam accusantium praesentium ea voluptas, tempora autem officiis unde. Accusamus sunt vitae cumque.
        </span>
        <a href="#" class="text-decoration-none d-block expand-content">Читать полностью</a>
    </content>
    <div class="post-end p-3">
        <div class="text-muted tags-section">
            
        </div>
        <div class="reading-time-section">
            Время чтения: <span class="post-reading-time"></span> мин.
        </div>
        <div class="pt-2 geo-tag-section">
            <img src="/source/images/geo-fill-icon.svg" alt="VK" class="icon">
            <span class="geo-tag-content">ул. Пушкина, д. Колотушкина</span>
        </div>
    </div>
    <div class="card-footer px-3 py-2"> 
        <button class="mb-0 text-black-50 text-decoration-none border-0 bg-light post-comment-section">
            <span class="post-comment-amount"></span>
            <img src="/source/images/comment-icon.svg" alt="comm" class="icon post-comment-icon">
        </button>
        <button class="mb-0 text-black-50 text-decoration-none float-end border-0 bg-light post-likes-section">
            <span class="post-likes-amount"></span>
            <img src="/source/images/hollow-heart-icon.svg" alt="likes" class="icon post-like-icon">
        </button>
    </div>
</div>