<div class="response-template text-break ps-3 border-start border-4 border-primary" id="response-template">
    <div class="comment-template text-break">
        <span class="comment-user-name text-muted">Xexi</span>
        <div class="comment-user-actions d-inline-block">
            <a class="mb-0 text-decoration-none" href="#">
                <img src="/source/images/pencil-fill.svg" alt="VK" class="icon">
            </a>
            <a class="mb-0 text=text-decoration-none" href="#">
                <img src="/source/images/trash-fill.svg" alt="VK" class="icon">
            </a>
        </div>
        <div class="comment-content-wrapper">
            <span class="comment-content py-2">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</span>
            <span class="comment-edited-flag text-muted ps-2" data-bs-toggle="tooltip" data-bs-placement="top"
                title="?????">(изменено)</span>
            <div class="comment-edit-content py-2 mx-0 row d-flex justify-content-between">
                <input type="text" class="comment-edit-content-input col-12 col-lg-8 mb-2 mb-lg-0">
                <button class="btn btn-warning col-lg-3">Редактировать</button>
            </div>
        </div>
        <span class="comment-create-date text-muted pb-2">11.11.1111 11:11</span>
        <a href="#" class="make-response text-decoration-none d-inline">Ответить</a>
        <div class="comment-create-response py-2 mx-0 row d-flex justify-content-between">
            <input type="text" class="comment-create-response-input col-12 col-lg-8 mb-2 mb-lg-0">
            <button class="btn btn-primary col-lg-2">Сохранить</button>
        </div>
    </div>
</div>